	<!--================ Start Header Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="index"><img src="img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav justify-content-end">
							<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="#about">About</a></li>
							<li class="nav-item"><a class="nav-link" href="#achievements">Achievements</a></li>
							<li class="nav-item"><a class="nav-link" href="#skills">Skills</a></li>
							<li class="nav-item"><a class="nav-link" href="#experience">Experience</a></li>
							<li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
							<li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================ End Header Area =================-->

	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="banner_content">
							<h3 class="text-uppercase">Hell0</h3>
							<h1 class="text-uppercase">I am Akash Roy</h1>
							<h5 class="text-uppercase">EC Engineer | Device Modelling & IoT</h5>
							<div class="d-flex align-items-center">
								<a class="primary_btn" href="#contact"><span>Connect With Me</span></a>
								<a class="primary_btn tr-bg" href="CV-Akash-Roy.pdf"><span>See my CV</span></a>
							</div>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="home_right_img">
							<img class="" src="img/banner/home-right.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area" id="about" style="margin-bottom: 50px;">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="img/about-us.png" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<h2>let’s Introduce <br /> Myself <br></h2>
						<h5>
							Creativity, Intelligence & Aspirations are more than just a colour plate.
						</h5><br />
						<p class="text-justify">
							Hello, an EC Engineer from Heritage Institute of Technology Kolkata here. I am in love with
							IoT and Robotics as I have spent hours working on on them, while Research and Teaching have
							also been my priorities. Currently serving as Front-End Developer at TCS, Kolkata.
							<br />I have led the IEEE Student Chapter of my college and have conducted various Technical
							activities under my leadership.
							<br />Was a professional teacher for Unacademy teaching Electronics. Also taught to
							underpivileged kids for the
							Rotaract Club of my Institute.
						</p>
						<p>Being a good human is my first while learning from yesterday isn't among the last.
						</p>
						<a class="primary_btn" href="CV-Akash-Roy.pdf" download><span>Download CV</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->

	<!--================ Srart Brand Area =================-->
	<section class="brand_area">
		<div class="container">
			<div class="row justify-content-center">
				<!-- Slider for Desktop -->
				<div class="col-lg-6 no-mobile">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="img/brands/logo1.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="img/brands/logo2.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="img/brands/logo3.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="img/brands/logo4.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="img/brands/logo5.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="img/brands/logo6.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="img/brands/logo7.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="img/brands/logo8.png" alt="">
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-brand-item d-table">
								<div class="d-table-cell text-center">
									<img src="img/brands/logo10.png" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Slider for Mobile -->
				<div class="col-lg-6 mobile">
					<section class="skill-logos slider">
						<div class="slide"><img src="img/brands/logo1.png"></div>
						<div class="slide"><img src="img/brands/logo2.png"></div>
						<div class="slide"><img src="img/brands/logo3.png"></div>
						<div class="slide"><img src="img/brands/logo4.png"></div>
						<div class="slide"><img src="img/brands/logo5.png"></div>
						<div class="slide"><img src="img/brands/logo6.png"></div>
						<div class="slide"><img src="img/brands/logo7.png"></div>
						<div class="slide"><img src="img/brands/logo8.png"></div>
						<div class="slide"><img src="img/brands/logo9.png"></div>
					</section>
				</div>
				<div class="offset-lg-2 col-lg-4 col-md-6">
					<div class="client-info">
						<div class="d-flex mb-50">
							<span class="lage">2+</span>
							<span class="smll">Years Experience Working</span>
						</div>
						<div class="call-now d-flex">
							<div>
								<span class="fa fa-inbox"></span>
							</div>
							<div class="ml-15">
								<p>Get in touch </p>
								<h5>connect@akashroy.com</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Brand Area =================-->

	<!--============== Start Achievements ===============-->
	<section class="features_area" id="achievements">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>My Achievements </h2>
						<p>
							A gallery of few of the things I have done so far.
						</p>
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-12">
					<div class="w3-content w3-display-container">
						<div class="w3-display-container mySlides">
							<img src="img/achievements/ieee1.jpg" style="width:100%">
							<div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"
								style="opacity: 0.8;">
								<h3 style="color: white;">Chairman at IEEE HITK SB</h3>
							</div>
						</div>

						<div class="w3-display-container mySlides">
							<img src="img/achievements/sunc.jpg" style="width:100%">
							<div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"
								style="opacity: 0.8;">
								<h3 style="color: white;">Top 3000 Startups in India</h3>
							</div>
						</div>

						<div class="w3-display-container mySlides">
							<img src="img/achievements/hackabit.jpg" style="width:100%">
							<div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"
								style="opacity: 0.8;">
								<h3 style="color: white;">4th in India at Hackabit</h3>
							</div>
						</div>

						<div class="w3-display-container mySlides">
							<img src="img/achievements/camgemni.jpg" style="width:100%">
							<div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"
								style="opacity: 0.8;">
								<h3 style="color: white;">Judges' Favourite Globally</h3>
							</div>
						</div>

						<div class="w3-display-container mySlides">
							<img src="img/achievements/sankalp.jpg" style="width:100%">
							<div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"
								style="opacity: 0.8;">
								<h3 style="color: white;">Top 15 in India at Sankalp</h3>
							</div>
						</div>

						<div class="w3-display-container mySlides">
							<img src="img/achievements/devic.jpg" style="width:100%">
							<div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black"
								style="opacity: 0.8;">
								<h3 style="color: white;">First Conference Paper</h3>
							</div>
						</div>



						<!-- 						<button class="w3-button w3-display-left w3-black" onclick="plusDivs(-1)">&#10094;</button> -->
						<!-- 						<button class="w3-button w3-display-right w3-black" onclick="plusDivs(1)">&#10095;</button> -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Achievements ====================-->

	<!--================ Start Features Area =================-->
	<section class="features_area" id="skills">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>My Skills </h2>
						<p>
							Qualities that I have gathered over time and feel proud to decorate the shelf. <br />
							Had keen interest in chasing the field as just not professon but passion.
						</p>
					</div>
				</div>
			</div>
			<div class="row feature_inner">
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="img/services/s4.png" alt="">
						<h4>Device Modelling</h4>
						<p>Have developed quite a few projects and publications in the area of device modelling &
							simulation.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="img/services/s2.png" alt="">
						<h4>Teaching</h4>
						<p>From my high school, I developed a love of sharing information with my fellow mates and
							juniors.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="img/services/s3.png" alt="">
						<h4>Web Dev</h4>
						<p>Starting from Frontend with Angular and Backend Technologies with Python are my daily
							routine.</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="feature_item">
						<img src="img/services/s4.png" alt="">
						<h4>Robotics/IoT</h4>
						<p>Imparting intelligence to skillfully trained bots are weekend activites to make the most of.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->

	<!--================ Experience Section ================-->
	<section class="ftco-section ftco-services bg-light parallax-1" id="experience">
		<div class="container">
			<div class="row justify-content-center" style="margin-top: -50px; margin-bottom: -30px;">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2 style="color: white;">Experience Performa</h2>
						<p style="color: white;">
							Internships, Research activities and Current Work Performas.
						</p>
					</div>
				</div>
			</div>
			<div class="accordion" id="accordionExperience">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">

							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
								aria-expanded="true" aria-controls="collapseOne">
								Tata Consultancy Services
							</button>
							<div style="float: right; font-size: 0.5em; padding-top: 12px;">Occupation</div>
						</h2>
					</div>

					<div id="collapseOne" class="collapse" aria-labelledby="headingOne"
						data-parent="#accordionExperience">
						<div class="card-body p-l-50">
							<div class="row">
								<div class="col-lg-6">
									<p><strong>Start Date : </strong> 10 Jun'19</p>
								</div>
								<div class="col-lg-6">
									<p><strong>Position : </strong>Front End Developer</p>
								</div>
							</div>
							<div class="row">
								<div class="col text-justify">
									<p>I am working as a DevOps Engineer focussing on mainly the Front End Development.
										Angular is the main software used
										for the project frontend. <br />Developed fully functional responsive prototypes
										based on Business Requirements using
										HTML/HTML5, CSS3, JavaScript and JQuery. <br />Gained exposure in full
										life-cycle implementation with skills in executing
										Sofware Development Life Cycle (SDLC) in compliance to quality control.
										<br />Gained exposure in end-to-end development of
										software products, from requirement analysis to designing, coding and testing
										Integrated software components into a
										fully functional software system. <br />Modified existing software to correct
										errors, upgrade interfaces and improve
										performance</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p><strong>Visit/Reference : </strong><a href="https://www.tcs.com/">www.tcs.com</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingTwoA">
						<h2 class="mb-0">

							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseTwoA" aria-expanded="true" aria-controls="collapseTwoA">
								Springer Silicon
							</button>
							<div style="float: right; font-size: 0.5em; padding-top: 12px;">Research Paper</div>
						</h2>
					</div>

					<div id="collapseTwoA" class="collapse" aria-labelledby="headingTwoA"
						data-parent="#accordionExperience">
						<div class="card-body p-l-50">
							<div class="row">
								<div class="col text-justify">
									<p><strong>Comparative Study of Variations in Gate Oxide Material of a Novel
											Underlap DG MOS-HEMT for Analog/RF and High Power Applications</strong></p>
								</div>
							</div>
							<div class="row">
								<div class="col text-justify">
									<p>In this paper an Underlap Double Gate (U-DG) Symmetric Heterojunction AlGaN/GaN
										Metal Oxide Semiconductor High Electron Mobility Transistor (MOS-HEMT) with gate
										oxide materials of different dielectric constant has been studied using gate
										oxide materials such as Hafnium dioxide (HfO2), Silicon dioxide (SiO2) and a
										symmetric gate stack (GS) of HfO2-SiO2. In this work, the analog performance of
										the devices has been studied on the basis of parameters like transconductance
										(gm), transconductance generation factor (gm/ID) and intrinsic gain (gmR0). This
										paper depicts the effect of varying oxide materials on the analog and RF figure
										of merits (FOMs) such as the gate to drain capacitance (CGD), gate to source
										capacitance (CGS) and total gate capacitance (CGG), intrinsic resistances,
										cut-off frequency (fT) and maximum frequency of oscillation (fMAX) using
										non-quasi-static approach. Studies show that the introduction of a gate oxide
										layer in the MOS-HEMT device increases the gate controllability reducing gate
										leakage currents improving RF performance. U-DG AlGaN/GaN MOS-HEMT with HfO2
										gate dielectric shows superior Power output efficiency (POE) of 55% compared to
										the HfO2-SiO2 composite structure and SiO2 with 26% and 20% respectively.</p>

								</div>
							</div>
							<div class="row">
								<div class="col">
									<p><strong>DOI : </strong><a href="#">10.1007/s12633-019-00316-0</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingTwoB">
						<h2 class="mb-0">

							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseTwoB" aria-expanded="true" aria-controls="collapseTwoB">
								IEEE DevIC 2019
							</button>
							<div style="float: right; font-size: 0.5em; padding-top: 12px;">Research Paper</div>
						</h2>
					</div>

					<div id="collapseTwoB" class="collapse" aria-labelledby="headingTwoB"
						data-parent="#accordionExperience">
						<div class="card-body p-l-50">
							<div class="row">
								<div class="col text-justify">
									<p><strong>Influence of Channel Thickness on Analog and RF Performance Enhancement
											of an Underlap DG AlGaN/GaN based MOS-HEMT Device</strong></p>
								</div>
							</div>
							<div class="row">
								<div class="col text-justify">
									<p>This paper elucidates a comprehensive, illustrative and qualitative study on the
										Analog and RF performance of an Underlapped Double-Gate (U-DG) AlGaN/GaN
										heterojunction-based MOS-HEMT device with Hafnium-based high-k dielectric gate
										material. This paper presents the effect of GaN channel thickness variation on
										the drain current (I d ), the transconductance (g m ), output resistance (RO),
										the intrinsic gain (g m R o ), transconductance generation factor (g m /I d )
										and the RF FOMstotal intrinsic gate capacitance (C gg ) and cut-off frequency
										(fτ). These hetero-structured devices show superior performance as power
										transistors due to its enhanced efficiency, cost-effectiveness, reliability and
										controllability over silicon based conventional DG-MOS and HEMT transistors.</p>

								</div>
							</div>
							<div class="row">
								<div class="col">
									<p><strong>DOI : </strong><a
											href="https://doi.org/10.1109/DEVIC.2019.8783865">10.1109/DEVIC.2019.8783865</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingTwo">
						<h2 class="mb-0">

							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
								MinD Webs
							</button>
							<div style="float: right; font-size: 0.5em; padding-top: 12px;">Advisory</div>
						</h2>
					</div>

					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
						data-parent="#accordionExperience">
						<div class="card-body p-l-50">
							<div class="row">
								<div class="col-lg-6">
									<p><strong>Start Date : </strong> 18 Jul'19</p>
								</div>
								<div class="col-lg-6">
									<p><strong>Position : </strong>IoT Advisor</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p>Have been advising young students and interns about the basics of Internet of
										Things and have developed several projects on the same.</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p><strong>Visit/Reference : </strong><a
											href="https://www.mindwebs.org">www.mindwebs.org</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingThree">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								ECOE Bhubaneswar
							</button>
							<div style="float: right; font-size: 0.5em; padding-top: 12px;">Internship</div>
						</h2>
					</div>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
						data-parent="#accordionExperience">
						<div class="card-body p-l-50">
							<div class="row">
								<div class="col-lg-6">
									<p><strong>Start Date : </strong> 1 June'18&nbsp;&nbsp;&nbsp; <strong>End Date :
										</strong> 1 July'18</p>

								</div>
								<div class="col-lg-6">
									<p><strong>Position : </strong>Electronics Design Intern</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p>I was an Intern at the eCOE of Bhubaneswar where I learnt VLSI Design and Layout
										using Tanner tools. Also learnt about FPGA Designing using Verilog.</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p><strong>Visit/Reference : </strong><a href="http://ecoe.co.in/">Electronic Center
											of Excellence</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingFour">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								Airports Authority of India
							</button>
							<div style="float: right; font-size: 0.5em; padding-top: 12px;">Training</div>
						</h2>
					</div>
					<div id="collapseFour" class="collapse" aria-labelledby="headingFour"
						data-parent="#accordionExperience">
						<div class="card-body p-l-50">
							<div class="row">
								<div class="col-lg-6">
									<p><strong>Start Date : </strong> 14 May'17&nbsp;&nbsp;&nbsp; <strong>End Date :
										</strong> 28 May'17</p>

								</div>
								<div class="col-lg-6">
									<p><strong>Position : </strong>Vocational Trainee</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p>I was a trainee at the Electronics Department at the Airports Authority of India
										Kolkata where I learnt about all the Electronic Systems in and around the
										airport including X-Ray Scanning Systems, CCTV Systems, Flight Monitoring
										Systems etc</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p><strong>Visit/Reference : </strong><a href="https://www.aai.aero/">Airports
											Authority of India</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingFive">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
								Unacademy
							</button>
							<div style="float: right; font-size: 0.5em; padding-top: 12px;">Internship</div>
						</h2>
					</div>
					<div id="collapseFive" class="collapse" aria-labelledby="headingFive"
						data-parent="#accordionExperience">
						<div class="card-body p-l-50">
							<div class="row">
								<div class="col-lg-6">
									<p><strong>Start Date : </strong> 1 Apr'18&nbsp;&nbsp;&nbsp; <strong>End Date :
										</strong> 31 Aug'18</p>

								</div>
								<div class="col-lg-6">
									<p><strong>Position : </strong>Educator</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p>I was an Electronics Online Educator for Unacademy and have made over 100+ course
										videos with more than 1300 minutes of course content.</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p><strong>Visit/Reference : </strong><a href="https://unacademy.com">Unacademy</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingSix">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
								Tata Consultancy Services
							</button>
							<div style="float: right; font-size: 0.5em; padding-top: 12px;">Internship</div>
						</h2>
					</div>
					<div id="collapseSix" class="collapse" aria-labelledby="headingSix"
						data-parent="#accordionExperience">
						<div class="card-body p-l-50">
							<div class="row">
								<div class="col-lg-6">
									<p><strong>Start Date : </strong> 1 Jan'19&nbsp;&nbsp;&nbsp; <strong>End Date :
										</strong> 29 Mar'19</p>

								</div>
								<div class="col-lg-6">
									<p><strong>Position : </strong>Front End Developer Intern</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p>I was appointed an as Intern in a Development Project where I learnt about the
										basics of Web Development. Worked on API Gateway Generator using Angular and
										Flask.</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p><strong>Visit/Reference : </strong><a href="https://www.tcs.com/">www.tcs.com</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingSeven">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
								Tata Consultancy Services
							</button>
							<div style="float: right; font-size: 0.5em; padding-top: 12px;">Internship</div>
						</h2>
					</div>
					<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
						data-parent="#accordionExperience">
						<div class="card-body p-l-50">
							<div class="row">
								<div class="col-lg-6">
									<p><strong>Start Date : </strong> 1 Jan'19&nbsp;&nbsp;&nbsp; <strong>End Date :
										</strong> 29 Mar'19</p>

								</div>
								<div class="col-lg-6">
									<p><strong>Position : </strong>Manchine Learning Intern</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p>I worked on Python and used NLP to complete the project 'Contextual Chatbot'.</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p><strong>Visit/Reference : </strong><a href="https://www.tcs.com/">www.tcs.com</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingEight">
						<h2 class="mb-0">
							<button class="btn btn-link collapsed" type="button" data-toggle="collapse"
								data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
								SunChargers
							</button>
							<div style="float: right; font-size: 0.5em; padding-top: 12px;">Project</div>
						</h2>
					</div>
					<div id="collapseEight" class="collapse" aria-labelledby="headingEight"
						data-parent="#accordionExperience">
						<div class="card-body p-l-50">
							<div class="row">
								<div class="col-lg-6">
									<p><strong>Acclaim : </strong><br />
										Capgemini Global AI Hackathon: Judges' Favourite <br />
										BIT Mesra National Hackabit 2018: 4th Position <br />
										Sankalp Solar Harvesting Hackathon: Top 15 in India</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p><strong>Abstract : </strong><br />SunChargers is a Solar Charged Street
										Automation Product which packs features
										like Solar Tracking, Automatic Fault Detection and Alert, Light Intensity
										Controlling and Solar Powered Car Charging Station along with SOS Features and
										Traffic Mapping System.</p>
								</div>
							</div>
							<div class="row">
								<div class="col">
									<p><strong>Visit/Reference : </strong><a
											href="https://www.youtube.com/watch?v=rJfnZZoSqug">Video Demonstration</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>

	</section>
	<div style="min-width: 50px;">
		&nbsp;
	</div>
	<!--================ END Experience Section ================-->

	<!--================Start Portfolio Area =================-->
	<section class="portfolio_area" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" style="padding-top: 15px;">
					<div class="main_title text-left">
						<h2>Collection of my Recent Works </h2>
					</div>
				</div>
			</div>
			<div class="filters portfolio-filter">
				<ul>
					<li class="active" data-filter="*">all</li>
					<li data-filter=".electronics">Electronics</li>
					<li data-filter=".robotics">Robotics/IoT</li>
					<li data-filter=".web">Websites</li>
					<li data-filter=".ongoing">Ongoing Projects</li>
					<li data-filter=".photo">Photography</li>
				</ul>
			</div>

			<div class="filters-content">
				<div class="row portfolio-grid justify-content-center">
					<div class="col-lg-4 col-md-6 all electronics">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="img/portfolio/sunc.jpg" alt="">
								<div class="overlay"></div>
								<a href="img/portfolio/sunc.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="#">SunChargers</a></h4>
								<p>Solar Charged Street Automation Product</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all electronics">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="img/portfolio/fpga.jpg" alt="">
								<div class="overlay"></div>
								<a href="img/portfolio/fpga.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="#">8-Bit Microprocessor</a></h4>
								<p>Using Field Programmable Gate Array</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all robotics">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="img/portfolio/roboteach.jpg" alt="">
								<div class="overlay"></div>
								<a href="img/portfolio/roboteach.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="">Robotics Workshop</a></h4>
								<p>Instructor for School & College Students</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all electronics robotics">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="img/portfolio/robota.jpg" alt="">
								<div class="overlay"></div>
								<a href="img/portfolio/robota.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="">Autonomous Robotics</a></h4>
								<p>Working with Circuits</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all web ongoing">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="img/portfolio/lmf.jpg" alt="">
								<div class="overlay"></div>
								<a href="img/portfolio/lmf.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="">Like Minds Forum</a></h4>
								<p>An interactive forum for students & corporates.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all photo">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="img/portfolio/peacock.jpg" alt="">
								<div class="overlay"></div>
								<a href="img/portfolio/peacock.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="">The Flight of the King</a></h4>
								<p>Dooars, India</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all photo">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="img/portfolio/bulb.jpg" alt="">
								<div class="overlay"></div>
								<a href="img/portfolio/bulb.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="#">Guide me Home</a></h4>
								<p>Low-light Photography</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all electronics ongoing">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="img/portfolio/moshemt.jpg" alt="">
								<div class="overlay"></div>
								<a href="img/portfolio/moshemt.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4>MOS-HEMT</h4>
								<p>Research Structure</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 all ongoing web">
						<div class="portfolio_box">
							<div class="single_portfolio">
								<img class="img-fluid w-100" src="img/portfolio/crm.jpg" alt="">
								<div class="overlay"></div>
								<a href="img/portfolio/crm.jpg" class="img-gal">
									<div class="icon">
										<span class="lnr lnr-cross"></span>
									</div>
								</a>
							</div>
							<div class="short_info">
								<h4><a href="#">CRM System</a></h4>
								<p>Using Node & Flask</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Portfolio Area =================-->

	<!--================ Start Certification Area =================-->
	<section class="brands-area section_gap_bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title text-left">
						<h2>Certifications</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="owl-carousel brand-carousel">
						<!-- single-brand -->
						<div class="single-brand-item-2 d-table">
							<div class="d-table-cell">
								<img src="img/brands/logo1.png" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item-2 d-table">
							<div class="d-table-cell">
								<img src="img/certs/logo1.png" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item-2 d-table">
							<div class="d-table-cell">
								<img src="img/certs/logo3.png" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item-2 d-table">
							<div class="d-table-cell">
								<img src="img/certs/logo4.png" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item-2 d-table">
							<div class="d-table-cell">
								<img src="img/certs/logo6.png" alt="">
							</div>
						</div>
						<!-- single-brand -->
						<div class="single-brand-item-2 d-table">
							<div class="d-table-cell">
								<img src="img/certs/logo5.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Certification Area =================-->


	<!--================ Start Testimonial Area =================-->
	<div class="testimonial_area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 text-center">
					<div class="main_title">
						<h2>Testimonials</h2>
						<p>Some words of worth, feedback or suggestions from my teachers, fellow mates, co-workers and
							beloved juniors.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="testi_slider owl-carousel">
					<div class="testi_item">
						<div class="row">
							<div class="col-lg-4">
								<img src="img/testimonials/dpnr.png" alt="">
							</div>
							<div class="col-lg-8">
								<div class="testi_text">
									<h4>Dipan Roy</h4>
									<h5 style="color: gray;">Managing Director, MinD Webs</h5>
									<p>Have worked directely with him in the same team. Must say he has an extensive
										skillset with top-notch dedication towards his work. He is very punctual in
										maintaining deadlines. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="testi_item">
						<div class="row">
							<div class="col-lg-4">
								<img src="img/testimonials/rishav.jpg" alt="">
							</div>
							<div class="col-lg-8">
								<div class="testi_text">
									<h4>Rishav Sen</h4>
									<h5 style="color: gray;">Engg. Undergrad, HIT Kolkata</h5>
									<p>A very friendly guy, inspiring, humble and caring. Never stopping to help. Loves
										to grow and has mentored me that made me like his way, his approach and finally
										follow him. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="testi_item">
						<div class="row">
							<div class="col-lg-4">
								<img src="img/testimonials/aniketo.jpg" alt="">
							</div>
							<div class="col-lg-8">
								<div class="testi_text">
									<h4>Aniketo Ghosh</h4>
									<h5 style="color: gray;">Business Partener, SunChargers</h5>
									<p>A friend and an ideal project mate, we worked on our pet project SunChargers
										which won us
										numerous accolades. He identifies problems easily and <span
											id="dots1">...</span><span id="more1" style="display: none;">solves them
											with an
											urgency rare to find, is a brilliant teacher and a very helpful guy. A very
											good
											team player and leads by example. His energy and passion for work incites
											others
											to give their best. </span></p>

									<button onclick="readMore1()" class="btn btn-sm btn-warning" id="myBtn1">Read
										more</button>
								</div>
							</div>
						</div>
					</div>
					<div class="testi_item">
						<div class="row">
							<div class="col-lg-4">
								<img src="img/testimonials/arkaB.jpg" alt="">
							</div>
							<div class="col-lg-8">
								<div class="testi_text">
									<h4>Arka Bhattacharjee</h4>
									<h5 style="color: gray;">Front-End Developer, TCS</h5>
									<p>One of the quickest learners I have ever seen. His logical thinking
										about any kind of coding, algorithm is quite impressive. He is good with
										communication that suits all type of business needs. </p>
								</div>
							</div>
						</div>
					</div>
					<div class="testi_item">
						<div class="row">
							<div class="col-lg-4">
								<img src="img/testimonials/arnab.JPG" alt="">
							</div>
							<div class="col-lg-8">
								<div class="testi_text">
									<h4>Arnab Mondal</h4>
									<h5 style="color: gray;">Graduate Student, Politecnico Milano</h5>
									<p>Akash has the unique quality of tackling any problem by understanding it at a
										very fundamental level which <span id="dots2">...</span><span id="more2"
											style="display: none;">I think is quintessential for anyone who's eager to
											solve a challenging problem. He is a highly motivated and extremely humble
											person. </span></p>

									<button onclick="readMore2()" class="btn btn-sm btn-warning" id="myBtn2">Read
										more</button>
								</div>
							</div>
						</div>
					</div>
					<div class="testi_item">
						<div class="row">
							<div class="col-lg-4">
								<img src="img/testimonials/rajrup.jpg" alt="">
							</div>
							<div class="col-lg-8">
								<div class="testi_text">
									<h4>Rajrup Mitra</h4>
									<h5 style="color: gray;">Research Partner</h5>
									<p>Have been research partners based on transistors for the past 2 years.. Akash has
										a very good hold on plethora of electronics and communication <span
											id="dots3">...</span><span id="more3" style="display: none;">concepts and a
											well nourished logical reasoning capabilities. He is very hard-working and
											diligent towards his work. He has a multi-dimensional thought process and
											also
											has a great thirst for research and teaching. </span></p>

									<button onclick="readMore3()" class="btn btn-sm btn-warning" id="myBtn3">Read
										more</button>
								</div>
							</div>
						</div>
					</div>
					<div class="testi_item">
						<div class="row">
							<div class="col-lg-4">
								<img src="img/testimonials/avisri.jpg" alt="">
							</div>
							<div class="col-lg-8">
								<div class="testi_text">
									<h4>Avisri Nandi</h4>
									<h5 style="color: gray;">Photographer</h5>
									<p>Akash has been a very interesting person to work with. He is a quick learner and
										has the urge to learn new things and apply them. I got to work <span
											id="dots4">...</span><span id="more4" style="display: none;">with him on
											various photographic projects in the last 4 years. His passion towards his
											work
											is admirable. He is always self-motivated. I hope that I get to work with
											him
											again. </span></p>

									<button onclick="readMore4()" class="btn btn-sm btn-warning" id="myBtn4">Read
										more</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Enter 4 More Testi Items Here -->
				</div>
			</div>
		</div>
	</div>
	<!--================ End Testimonial Area =================-->

	<!--================ Start Newsletter Area =================-->
	<section class="newsletter_area" style="margin-bottom: 40px;" id="contact">
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-12">
					<div class="subscription_box text-center">
						<h2 class="text-uppercase text-white">Say a HELLO</h2>
						<p class="text-white">
							Connect with me. Drop in your suggestions, queries or research work partenership.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="contact_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
							<i class="lnr lnr-home"></i>
							<h6>Kolkata, India</h6>
							<p>Gariahat</p>
						</div>
						<!-- <div class="info_item">
							<i class="lnr lnr-phone-handset"></i>
							<h6><a href="#">(+91) 12345 67890</a></h6>
							<p>Weekends Preferable.</p>
						</div> -->
						<div class="info_item">
							<i class="lnr lnr-envelope"></i>
							<h6><a href="mailto:connect@akashroy.com">connect@akashroy.com</a></h6>
							<p>Send me your query anytime!</p>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<form class="row contact_form" action="contact_process.php" method="post" id="contactForm2"
						novalidate="novalidate">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name"
									placeholder="Enter your name">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" id="email" name="email"
									placeholder="Enter email address">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="subject" name="subject"
									placeholder="Enter Subject">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<textarea class="form-control" name="message" id="message" rows="5"
									placeholder="Enter Message"></textarea>
							</div>
						</div>
						<div class="col-md-12 text-right">
							<button type="submit" value="submit" name="contactForm" class="primary_btn">
								<span>Send Message</span>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Newsletter Area =================-->
	<!-- Direct WhatsApp-->
	<a href="https://api.whatsapp.com/send?phone=917003926402&text=Hello%20Akash%20&source=&data=" class="float"
		target="_blank">
		<i class="fa fa-whatsapp my-float"></i>
	</a>
	<!--================Footer Area =================-->
	<footer class="footer_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="footer_top flex-column">
						<div class="footer_logo">
							<a href="#">
								<img src="img/logo.png" alt="">
							</a>
							<h4>Follow Me</h4>
						</div>
						<div class="footer_social">
							<a href="https://www.linkedin.com/in/akash-roy-14b028133"><i class="fa fa-linkedin"></i></a>
							<a href="https://twitter.com/AkashRo31003099"><i class="fa fa-twitter"></i></a>
							<a href="https://github.com/akashroy1807"><i class="fa fa-github"></i></a>
							<a href="https://unacademy.com/@akash_roy"><i class="fa fa-graduation-cap"></i></a>
							<a href="https://www.facebook.com/methylakash"><i class="fa fa-facebook"></i></a>
							<a href="https://www.youtube.com/channel/UCoi6TMzC7H4YgGvbGxVmskA"><i
									class="fa fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer_bottom justify-content-center">
				<p class="col-lg-8 col-sm-12 footer-text">

					Copyright &copy;
					<script>
						document.write(new Date().getFullYear());
					</script> All rights reserved

			</div>
		</div>
	</footer>
	<!--================End Footer Area =================-->

	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#8e44ad" /></svg></div>
